@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
    box-sizing: border-box;
    font-family: Raleway;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 31);
    color: rgb(250, 250, 250);
}

.menu {
    background: rgb(27, 27, 31);
    border-radius: 6px;
    position: relative;
}

.menu ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu ul li {
    list-style: none;
    padding: 10px;
    position: relative;
    transition: 0.5s;
    display: block;
    z-index: 1;
    font-size: 1.2em
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 6px;
    transition: 1s;
}

.menu ul li:hover a{
    background: rgb(27, 27, 31);
    transition: 1s;
}

.menu ul li ul {
    transition: 1s;
    background: rgb(27, 27, 31);
    display: none;
    font-size: 0.75em;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
    top: 32px;
    margin-top: 5px;
    background: rgb(27, 27, 31);
    border-radius: 6px;
    width: 155%;
    padding: 10px 2px;
    animation-name: dropdown;
    animation-duration: 1s;
    
}

@keyframes dropdown {
    from {opacity: 0;
    transform: translateY(40px);}
    to {opacity: 1;
    transform: translateY(0px);}
}

.menu ul li ul li a:hover {
    background: #23B684;
}



.main-header {
    background-color: rgb(27, 27, 31);
    background-size: cover;
}

.summary{
    z-index: 0;
    position: absolute;
    top: 150px;
    right: 100px;
    padding: 0px;
    margin-top: 0px;
    color: rgb(250, 250, 250);
    
}

.name {
    color: rgb(250, 250, 250);
    font-size: 6em;
    margin: 0px;
    
}

.underline {
    background-color: #23B684;
    width: 450px;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.aboutme {
    
    z-index: 2;
    position: absolute;
    width: 600px;
}

.aboutme h1 {
    right: 400px;
    color: aliceblue;
    font-size: 3em;
    margin: 0px;
}

.aboutme li {
    display: inline;
    margin-right: 0px;
}

.summary {
    margin-bottom: 25px;
    color: rgb(142, 144, 146);
}

footer {
    display: none;
}

#gradient-canvas {
    z-index: 0;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    top: 0px;
    clip-path: polygon(0 0,75% 0, 75% 0,0% 100%);
    --gradient-color-1: #043D5D;
    --gradient-color-2: #032E46;
    --gradient-color-3: #23B684;
    --gradient-color-4: #0F595E;
}

